$voxer-orange: #ff6600;
$voxer-black: #1A1A1A;
$voxer-black-alt: #242424;
$voxer-black-alt2: #3d3c39;
$voxer-opaque-black: rgba(69, 69, 69, 0.5);
$voxer-white: #fff;
$voxer-dark-gray: #303030;
$voxer-gray-alt: #828282;
$voxer-gray-alt2: #8a8a8a;
$voxer-gray: #999;
$voxer-light-gray: #b2b2b2;
$voxer-very-light-gray: #eee;
$voxer-green: #4dc66e;
$voxer-green-alt: #6ab05e;
$voxer-dark-brown: #833e06;