{% capture content %}
{% assign leftImage = null %}
{% assign rightImage = null %}
{% assign backgroundImage = null %}

{% if site.pages.[slug].pages.size == 0 %}
  {% assign page = site.pages.[slug] %}
  {% for image in page.assets %}
    {% if image.meta['position'] == 'left' %}
      {% assign leftImage = image %}
    {% endif %}

    {% if image.meta['position'] == 'right' %}
      {% assign rightImage = image %}
    {% endif %}

    {% if image.meta['position'] == 'background' %}
      {% assign backgroundImage = image %}
    {% endif %}
  {% endfor %}
  <div class="defaultLayout">
    {% include 'layouts/full' %}
  </div>
{% else %}
  {% for page in site.pages.[slug].pages %}
  {% for image in page.assets %}
    {% if image.meta['position'] == 'left' %}
      {% assign leftImage = image %}
    {% endif %}

    {% if image.meta['position'] == 'right' %}
      {% assign rightImage = image %}
    {% endif %}

    {% if image.meta['position'] == 'background' %}
      {% assign backgroundImage = image %}
    {% endif %}
  {% endfor %}
    {% include 'layouts/full' %}
  {% endfor %}
{% endif %}
{% endcapture %}
{% include 'layouts/default' %}