
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Voxer Store</title>
<link rel="icon" type="image/png" href="/images/favicon.png">
<link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/store.css" rel="stylesheet" type="text/css">
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
{{ site.pages.headjs.body }}
<script src="/js/store.js" ></script>
</head>
<script type="text/javascript">
var _gaq = _gaq || [];
var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
_gaq.push(['_setAccount', 'UA-17796828-1']);
_gaq.push(['_setDomainName', 'voxer.com']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<body id="index" class="home store" style="min-width: 1000px;">




    {% include 'layouts/header' %}




<div class="featured-item">
    <div class="page-container">
        <img class="recommended-flag" src="http://voxer.com/assets/files/store/recommendedFlag.png">
        <div class="left-featured individual-featured">
            <div class="buy-now-email-container">
                <h1>Out of Stock.</h1>
                <p class="availability">Estimated Availability: May</p>
                <h1 class="notify">Notify me when available:</h1>
                <input type="email" placeholder="Email Address" product="wired-savox"><a class="notify-me">Notify Me</a>
                <div class="thanks"><p>Thanks! We will notify you when this is available.</p></div>
            </div>
            <div class="featured-container">
                <div class="product-overview">
                    <img class="featured-product-image" src="http://dev-10.voxer.com/assets/files/store/savox-wired.png">
                    <h2 class="featured-product-name">Wired Remote Speaker Microphone - $139</h2>
                    <div class="button-container">
                        <a class="more-info-button" product="wired-savox">More Info</a>
                        <a class="buy-now-button" product="wired-savox">Buy Now</a>
                    </div>
<!--                        <p class="compatability"><span class="grey-text">Compatability:</span><br />Samsung Galaxy S4, Samsung Rugby Pro, HTC One, LG Nexus 4, iPhone 4, iPhone 4s, iPhone 5, iPhone 5c, iPhone 5s</p> -->
                </div>
                <div class="product-details">
                    <div class="small-product-image-container">
                        <img class="small-product-image" src="http://dev-10.voxer.com/assets/files/store/savox-wired.png">
                    </div>
                    <h2 class="featured-product-name">Wired Remote Speaker Microphone</h2>
                    <h2 class="price">$139</h2>
                    <a class="buy-now-button" product="wired-savox">Buy Now</a>
                    <div class="buy-now-email-container">
                        <h1>Out of Stock.</h1>
                        <p class="availability">Estimated Availability: May</p>
                        <h1 class="notify">Notify me when available:</h1>
                        <input type="email" placeholder="Email Address" product="wired-savox"><a class="notify-me">Notify Me</a>
                        <div class="thanks"><p>Thanks! We will notify you when this is available.</p></div>
                    </div>
                    <p class="compatability"><span class="grey-text">Compatability:</span><br/> Samsung Galaxy S4, Samsung Rugby Pro, HTC One, LG Nexus 4, iPhone 4s, iPhone 5, iPhone 5c, iPhone 5s</p>
                    <p class="description"><span class="grey-text">Description:</span> Get hands-free communication using a wired speaker for less latency and longer battery life. This extremely rugged speaker can be worn on the shoulder and lets you listen and respond with ease.</p>
                    <p class="description">It has large buttons for use with protective gloves and a jack socket if you want to connect an external earpiece. No need to charge it - just plug it into your phone and talk.</p>
                    <a class="hide-info-link">&#10094; Hide Info</a>
                </div>
            </div>
        </div>
        <div class="right-featured individual-featured">
            <div class="buy-now-email-container">
                <h1>Out of Stock.</h1>
                <p class="availability">Estimated Availability: May</p>
                <h1 class="notify">Notify me when available:</h1>
                <input type="email" placeholder="Email Address" product="wireless-savox"><a class="notify-me">Notify Me</a>
                <div class="thanks"><p>Thanks! We will notify you when this is available.</p></div>
            </div>
            <div class="featured-container">
                <div class="product-overview">
                    <img class="featured-product-image" src="http://dev-10.voxer.com/assets/files/store/savox-wireless.png">
                    <h2 class="featured-product-name">Wireless Remote Speaker Microphone - $149</h2>
                    <div class="button-container"><a class="more-info-button" product="wireless-savox">More Info</a><a class="buy-now-button" product="wireless-savox">Buy Now</a></div>
                    <!-- <p class="compatability"><span class="grey-text">Compatability:</span> Android</p> -->
                </div>
                <div class="product-details">
                    <div class="small-product-image-container">
                        <img class="small-product-image" src="http://dev-10.voxer.com/assets/files/store/savox-wireless.png">
                    </div>
                    <h2 class="featured-product-name">Wireless Remote Speaker Microphone</h2>
                    <h2 class="price">$149</h2>
                    <a class="buy-now-button" product="wireless-savox">Buy Now</a>
                    <div class="buy-now-email-container">
                        <h1>Out of Stock.</h1>
                        <p class="availability">Estimated Availability: May</p>
                        <h1 class="notify">Notify me when available:</h1>
                        <input type="email" placeholder="Email Address" product="wireless-savox"><a class="notify-me">Notify Me</a>
                        <div class="thanks"><p>Thanks! We will notify you when this is available.</p></div>
                    </div>
                    <p class="compatability"><span class="grey-text">Compatability:</span><br/> Samsung Galaxy S4, Samsung Galaxy S5, Samsung Rugby Pro, Moto X, Moto G, HTC One, LG Nexus 4, Casio Commando</p>
                    <p class="description"><span class="grey-text">Description:</span> Hear everything on the job site: this speaker is IP55 dust and water-resistant, yet lightweight with no wires for comfortable wear on the shoulder or chest.</p>
                    <p class="description">This piece has large buttons for use with gloves and a jack socket if you want to connect an external earpiece. It boasts long battery life and recharges using micro USB. Clothing clip included.</p>
                    <a class="hide-info-link">&#10094; Hide Info</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-container">
    <ul class="products">
        <li class="product">
            <h2 class="product-name">In-Ear Wired Headset</h2>
            <h2 class="price">$99.99</h2>
            <div class="info-container">
                <div class="product-image">
                    <img src="http://dev-10.voxer.com/assets/files/store/asus.png">
                </div>
                <div class="more-info">
                    <p class="compatability"><span class="grey-text">Compatability:</span> iPhone 4, iPhone 4s, iPhone 5, iPhone 5c, iPhone 5s</p>
                    <p class="description"><span class="grey-text">Description:</span> Unparalleled in comfort, reliability and clarity, this coil earpiece sits weightlessly in the ear, making it possible to wear the headset all day without pain or overheating.</p>
                </div>
            </div>
            <div class="more-info-container">
                <div class="button-container">
                    <a class="more-info-button" product="wired-asus">More Info</a>
                    <a class="hide-info-button">Hide Info</a>
                </div>
            </div>
            <a href="http://www.iasuslogistics.com/mm5/merchant.mvc?Screen=PROD&Product_Code=500K_iphone5&Store_Code=8443&Affiliate=iremedios_" class="buy-now-button" product="wired-asus">Buy Now</a>
        </li>
<!--            <li class="product">
            <h2 class="product-name">In-Ear Surveillance Earpiece</h2>
            <h2 class="price">$19.99</h2>
            <div class="info-container">
                <div class="product-image">
                    <img src="http://dev-10.voxer.com/assets/files/store/inexpensive-wired.png">
                </div>
                <div class="more-info">
                    <p class="compatability"><span class="grey-text">Compatability:</span> iPhone 4s, iPhone 5, iPhone 5c, iPhone 5s</p>
                    <p class="description"><span class="grey-text">Description:</span> Get the ability to listen and respond to staff discreetly using this affordable headset. You can interact with guests or customers while staying connected.</p>
                </div>
            </div>
            <div class="more-info-container">
                <div class="button-container">
                    <a class="more-info-button" product="wired-surveillance">More Info</a>
                    <a class="hide-info-button">Hide Info</a>
                </div>
            </div>
            <a class="buy-now-button" product="wired-surveillance">Buy Now</a>
            <div class="buy-now-email-container">
                <h1>Out of Stock.</h1>
                <p class="availability">Estimated Availability: May</p>
                <h1 class="notify">Notify me when available:</h1>
                <input type="email" placeholder="Email Address" product="wired-surveillance"><a class="notify-me">Notify Me</a>
                <div class="thanks"><p>Thanks! We will notify you when this is available.</p></div>
            </div>
        </li> -->
        <li class="product">
            <h1 class="more-coming-header">More Coming Spring 2014</h1>
        </li>
    </ul>
</div>


<div style="clear:both;margin-bottom: 30px;"></div>



    {% include 'layouts/footer' %}






</body>
</html>