<section class="layoutCaseStudyFull clearfix" style="{{page.meta['style']}}{% if backgroundImage != null %}background-image:url('{{backgroundImage.url}}');background-size:cover;background-position:center top;{% endif %}">
  <div class="row full-height"> 
        {% if leftImage != null %}
          <div class="small-3 medium-2 columns full-height">
            <div class="table-div">
              <div class="table-div-cell">
                {% if leftImage.meta['link'] != null %}
                  <a href="{{leftImage.meta['link']}}" target="_blank">
                    <img src="{{leftImage.url}}" alt="leftImage.name">
                  </a>
                {% else %}
                  <img src="{{leftImage.url}}" alt="leftImage.name">
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
        <div class="small-9 medium-10 columns {% if leftImage == null %}push-6{% endif %} full-height">
          <div class="table-div">
            <div class="table-div-cell">
              <h2>{{page.title}}</h2>
              <div class="row">
                <div class="small-12 columns">
                  {{page.body}}
                </div>
              </div>
            </div>
          </div>
        </div> 
  </div>
</section>