<footer>
	<div class="row footer-links-container">
		<div class="small-12 small-centered medium-3 medium-uncentered columns">
			<ul class="footer-links">
				<li class="footer-header">Company</li>
				<li class="footer-item"><a class="footer-link" href="/about">About</a></li>
				<li class="footer-item"><a class="footer-link" href="http://blog.voxer.com/">Blog</a></li>
				<li class="footer-item"><a class="footer-link" href="http://engineering.voxer.com/">Engineering Blog</a></li>
				<li class="footer-item"><a class="footer-link" href="/team">Team</a></li>
				<li class="footer-item"><a class="footer-link" href="/careers">Careers</a></li>
			</ul>
		</div>
		<div class="small-12 small-centered medium-3 medium-uncentered columns">
			<ul class="footer-links">
				<li class="footer-header">Help</li>
				<li class="footer-item"><a class="footer-link" href="https://support.voxer.com/home">Support</a></li>
				<li class="footer-item"><a class="footer-link" href="/faq">FAQ</a></li>
				<li class="footer-item"><a class="footer-link" href="/contact">Contact</a></li>
				<li class="footer-item"><a class="footer-link" href="/news">News</a></li>
			</ul>
		</div>
		<div class="small-12 small-centered medium-3 medium-uncentered columns">
			<ul class="footer-links">
				<li class="footer-header">Legal</li>
				<li class="footer-item"><a class="footer-link" href="/legal/terms-of-service">Terms of Service</a></li>
				<li class="footer-item"><a class="footer-link" href="/legal/privacy-policy">Privacy Policy</a></li>
				<li class="footer-item"><a class="footer-link" href="/legal/proprietary-notice">Proprietary Notice</a></li>
			</ul>
		</div>
		<div class="small-12 small-centered medium-3 medium-uncentered columns">
			<ul class="footer-links">
				<li class="footer-header">Social</li>
				<li class="footer-item"><a class="footer-link" href="https://twitter.com/voxer">Twitter</a></li>
				<li class="footer-item"><a class="footer-link" href="https://www.facebook.com/voxer">Facebook</a></li>
				<li class="footer-item"><a class="footer-link" href="https://plus.google.com/117064039775912834125" rel="publisher">Google+</a></li>
			</ul>	
		</div>	
	</div>
</footer>
{{ site.pages.footerjs.body }}