<div class="signup-buttons row">
	<div class="small-12 small-centered columns">
		<div class="wrapper">
			<div class="row">
				<div class="free-download-container small-12 medium-5 columns">
					<a class="free-download button button-hollow" href="http://r.yoz.io/fH.c.p">Download Free Voxer</a>
				</div>
				<p class="or-divider small-12 medium-2 columns">OR</p>
				<div class="business-sign-up-container small-12 medium-5 columns">
					<div class="row">
						<div class="small-12">
							<a class="large-business-sign-up button" href="https://business.voxer.com/signup">Start Business Free Trial</a>
						</div>
						<div class="promo-tag show-for-large-up">
							<p class="money-back">30-Day <strong>FREE TRIAL</strong></p>
						</div>
					</div>
					<div class="row">
						<div class="small-12">
							<p class="business-sign-up-text">Originally $9.99 User/Month</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>